body {
  margin: 0;
  background-color: #064e3b;
  color: #d1fae5;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}

h1 {
  background-color: #047857;
  color: #fb7185;
  font-size: 6em;
  padding: 20px 60px;
  margin: 30px 0 40px;
  border-radius: 5px;
}

h3 {
  font-size: 1.5em;
}

button {
  background: none;
  border: 1px solid #a7f3d0;
  color: #a7f3d0;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 2em;
  margin: 0 15px;
}

button:active {
  background: none;
  border: 1px solid #fda4af;
  color: #fda4af;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 2em;
  margin: 0 15px;
}

.reset-btn {
  margin-top: 20px;
  font-size: 1.5em;
}

.reset-btn:active {
  margin-top: 20px;
  font-size: 1.6em;
}
